#manual-write {
    text-align: center;
}
@font-face {
    font-family: mulish;
    src: url(../fonts/Mulish-VariableFont_wght.ttf);
}
body {
    margin: 0;
    background: #000;
    font-family: mulish;
    padding: 90px;
    padding-left: 199px;
    padding-right: 199px;
}
h1 {
    font-size: 39px;
    color: #fff;
}
div.box {
    margin-top: 155px;
    padding: 27px;
}
div.box::before {
    filter: blur(45px) brightness(100%);
    content: "";
    position: absolute;
	width: 951px;
    height: 599px;
    left: 50%;
	top: 73%;
	translate: -50% -50%;
	z-index: -1;
	padding: 27px;
    background: radial-gradient(#aaa, #000);
    border: #fff 5px solid;
}
a {
    text-decoration: none;
    font-size: 27px;
    display: flex;
    justify-content: center;
    color: #fff;
    margin-bottom: 27px;
}